body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
    font-size: 3rem;
}

h2, h3 {
    color: #34495e;
    margin-top: 30px;
    font-size: 2rem;
}

.primero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
}

.primero img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    border: 3px solid #ddd;
}

.primero .texto {
    margin-left: 20px;
    flex-grow: 1;
    margin-top: 70px;
}

.primero p {
    font-size: 1.1rem;
    text-align: justify;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.segundo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 40px auto;
    max-width: 1200px;
    padding: 20px;
}

.canciones {
    flex: 1;
    margin-right: 40px;
}

.canciones ul {
    list-style-type: none;
    padding-left: 0;
    max-width: 600px;
    margin: 0;
}

.canciones ul li {
    background-color: #ecf0f1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}

.canciones ul li:nth-child(odd) {
    background-color: #bdc3c7;
}

.suscribirse {
    flex: 1;
}

form {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
}

input[type="submit"] {
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #27ae60;
}

